---
layout: page
---

<h1>关于我</h1>
<p>
你好，我是syshaw 很高兴认识你~ＹＯ~(＾Ｕ＾)ノ<br>
俺是一位心态积极(躺)乐观(平)的码农(T_T)，中度社恐ヽ(*。>Д<)o゜>，资深死宅(●ˇ∀ˇ●)。</br>
伪二次元(*^▽^*)，喜欢追追动漫、看看新番、打打游戏，也有业余健身的爱好哟(ง •_•)ง~~</br>
所以喜欢听的歌都是日语歌（不过只是单纯对音乐方面的评价，音乐无国界...）</br>
</p>
<iframe frameborder="0" border="0" marginwidth="0" marginheight="0"  width=330 height=86 src="https://music.163.com/outchain/player?type=2&id=22707009&auto=1&height=66"></iframe>
</br>
<p>既然辣么有缘找到这里，干脆就留个言呗！</p>
 <div class="post_comment">
	{% include comment.html %}
 </div>
 {% include js.html %}