---
layout: page
---

<div class="post">
  <div>
    {% if page.title %}
    <p class="post_title">{{ page.title }}</p>
    {% endif %}
  </div>
  <div class="post_data">
    {% if page.date %}
    <span class="post_date">{{ page.date | date: "%Y-%m-%d %H:%M:%S" }}</span>
    {% endif %}
    {% if page.categories %}
    <span class="post_categories">
      &raquo; {% for cat_name in page.categories %}
      <a href="{{ site.baseurl }}/categories/{{ cat_name }}">{{ cat_name }}</a>{% if forloop.last == false %},
      {% endif %}{% endfor %}
    </span>
    {% endif %}
    <span class="post_last">
    {% if page.last_edited %}
    (Last edited: {{ page.last_edited | date: "%Y-%m-%d %H:%M:%S" }})
    {% endif %}
    </span>
  </div>
  <div class="post_content">
    {{ content }}
  </div>


  {% if page.comment %}
  <div class="post_comment">
	{% include comment.html %}
  </div>
  {% endif %}

</div>

<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [['$','$'], ['\\(','\\)']],
      processEscapes: true
    }
  });
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>